<a href="https://colab.research.google.com/github/sdw1621/sejong_cyber_bigdatatrend/blob/main/%EC%84%B8%EC%A2%85%EC%82%AC%EC%9D%B4%EB%B2%84%EB%8C%80_14%EC%A3%BC%EC%B0%A8_%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%EB%93%9C_%ED%8C%90%EB%A7%A4_%EC%98%88%EC%B8%A1_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**참고 사이트**

https://opentutorials.org/course/4570/28974

###**레모네이드 판매 예측**
github csv url:

https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf # 머신러닝 라이브러리, tensor : [ [ ] ], flow : 흐름
import pandas as pd # 엑셀 + SQL(데이터베이스, 엑셀 데이터 같은 형식을 많이 모아놓음)

In [ ]:
# 데이터를 준비합니다.
raw_data = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
remon_drink = pd.read_csv(raw_data)
remon_drink.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
# 독립(원인)변수 : cause, X
cause = remon_drink[['온도']]
print(cause)

print()

# 종속(결과)변수 : result, Y
result = remon_drink[['판매량']]
print(result)

   온도
0  20
1  21
2  22
3  23
4  24
5  25

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [ ]:
print(cause.shape, result.shape)

(6, 1) (6, 1)

In [ ]:
# 모델(기준)을 만듭니다.
X = tf.keras.layers.Input(shape=[1]) # 원인 : 온도
Y = tf.keras.layers.Dense(1)(X) # 결과 : 레모네이드 판매량

# 모델 : Y = 2X
model = tf.keras.models.Model(X, Y) # 온도 20도면 레몬네이드 40잔 팔린다. 2X = Y, Y(레모네이드 판매 예측) = 2X(온도), X
model.compile(loss='mse') # Mean Squared Error(평균 오차율), compile : 분석

# Mean Squared Error 관련 설명
# https://m.blog.naver.com/wideeyed/221025759001

In [ ]:
# 모델을 학습시킵니다. 
model.fit(cause, result, epochs=1000, verbose=0) # fit : 머신을 학습시킴, 원인(온도), 결과(레몬네이드 판매량), epochs : 반복
model.fit(cause, result, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 7ms/step - loss: 0.0016
Epoch 2/10
1/1 [==============================] - 0s 7ms/step - loss: 0.0016
Epoch 3/10
1/1 [==============================] - 0s 10ms/step - loss: 0.0016
Epoch 4/10
1/1 [==============================] - 0s 11ms/step - loss: 0.0016
Epoch 5/10
1/1 [==============================] - 0s 9ms/step - loss: 0.0016
Epoch 6/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0016
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0016
Epoch 8/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0016
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0016
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0016

In [ ]:
# 모델(Y = 2X)을 이용합니다. 
print(model.predict(cause)) # predict : 예측

[[40.048767]
 [42.02569 ]
 [44.002613]
 [45.979538]
 [47.956463]
 [49.933388]]

In [ ]:
print(model.predict([[15]])) # predict : 예측, 모델(Y=2X)

[[30.164145]]

In [ ]:
print(model.predict([[40]]))

[[79.58726]]