<a href="https://colab.research.google.com/github/sdw1621/sejong_cyber_bigdatatrend/blob/main/%EC%84%B8%EC%A2%85%EC%82%AC%EC%9D%B4%EB%B2%84%EB%8C%80_14%EC%A3%BC%EC%B0%A8_%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%EB%93%9C_%ED%8C%90%EB%A7%A4_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**참고 사이트**

https://opentutorials.org/course/4570/28974

###**레모네이드 판매 예측**
github csv url:

https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
# 데이터를 준비합니다.
raw_data = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
remon_drink = pd.read_csv(raw_data)
remon_drink.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [3]:
# 종속변수, 독립변수
cause = remon_drink[['온도']]
result = remon_drink[['판매량']]
print(cause.shape, result.shape)

(6, 1) (6, 1)

In [4]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse') # Mean Squared Error

# Mean Squared Error 관련 설명
# https://m.blog.naver.com/wideeyed/221025759001

In [6]:
# 모델을 학습시킵니다. 
model.fit(cause, result, epochs=1000, verbose=0)
model.fit(cause, result, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0016
Epoch 2/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0016
Epoch 3/10
1/1 [==============================] - 0s 4ms/step - loss: 0.0016
Epoch 4/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0016
Epoch 5/10
1/1 [==============================] - 0s 3ms/step - loss: 0.0016
Epoch 6/10
1/1 [==============================] - 0s 9ms/step - loss: 0.0016
Epoch 7/10
1/1 [==============================] - 0s 3ms/step - loss: 0.0016
Epoch 8/10
1/1 [==============================] - 0s 13ms/step - loss: 0.0016
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0016
Epoch 10/10
1/1 [==============================] - 0s 8ms/step - loss: 0.0016

In [8]:
# 모델을 이용합니다. 
print(model.predict(cause))

[[40.04727 ]
 [42.024765]
 [44.00226 ]
 [45.97975 ]
 [47.957245]
 [49.93474 ]]

In [9]:
print(model.predict([[15]]))

[[30.159807]]